@tailwind base;
@tailwind components;
@tailwind utilities;


.overlay {
	background: hsla(0, 1%, 20%, 0.706);
	height: 300px;
	position: absolute;
	z-index: 10;
	bottom: 0;
	left: 0;
	width: 100%;
	color: black;
	clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
	display: flex;
	align-items: flex-end;
	padding-left: 20px;

}

@media screen and (min-width: 1024px) {

	/* Custom styles for smaller screens */
	.header {
		display: flex;
	}

	.overlay {
		background: hsla(0, 3%, 72%, 0.706);
		height: calc(100svh - 57px);
		clip-path: polygon(0 0, 100% 0, 45% 173%, 0 100%)
	}
}